* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: helvetica;
    font-size: 17px;
    color: #00a1ff;
    line-height: 1.6;
}

#showcase {
    background-image: url('../img/showcase.jpg');
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
}

#showcase-content {
    background-color: rgba(0,0,0,.8);
    border-radius: 25px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #00a1ff;
}

#showcase p {
    font-size: 20px;
    color: #fff;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: #00a1ff;
    border: #00a1ff 1px solid;
    padding: 10px 20px;
    margin-top: 20px;
}

#showcase .button:hover {
    background-color: #00a1ff;
    color: #fff;
}

#section-a {
    padding: 20px 20%;
    background-color: #555;
    color: #00a1ff;
}

#section-b {
    padding: 20px 20%;
    background-color: #f4f4f4;
    color: #000;
}

#section-c {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    text-align: center;
}

#section-c div {
    padding: 20px;
}

#section-c .box1, .box3 {
    background-color: #00a1ff;
    color: #000;
}
